#portfolio {
    padding-top: 75px;
    padding-left: 3%;
    padding-right: 3%;
    
    
  }

h2{
  font-size: 45px;
}

#portfolio h3 {
  font-size: 25px;
}

#portfolio p {
  font-size: 25px;
}

.learning-image-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.learning-image{
  width: 35vw;
  height: auto;
}



@media (max-width: 699px){
#portfolio{
  padding-top: 30px;
}



}
